<!-- her we need that secret key, new password and confirm password to reset user password. -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="my-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-6 col-10 mx-auto box text-truncate">
        <section id="section1">Welcome to ToDo App</section>
          <section id="section2" class="col-md-12 col-sm-12 text-truncate">Reset your password here </section>
          <hr>
          <form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit()"> 
       
            <div class="form-group">
              <label for="secret">
                Secret Key *  </label>  <br>
                <input type="text" class="form-control" formControlName="secret" id="secret" >
                
             <div class="alert text" style="color:white;font-size: 13px;" *ngIf="!confirmPasswordForm.controls['secret'].valid && confirmPasswordForm.controls['secret'].touched">*This is required</div> 
            </div>
            <div class="form-group">
              <label for="password">
                Password * (Min 8 characters)  </label>  <br>
                <input type="password" class="form-control" formControlName="password" id="password" >
               
             <!--  <div class="alert text" style="color:white" *ngIf="!confirmPasswordForm.controls['password'].valid && confirmPasswordForm.controls['password'].touched">*This is required</div> -->
            </div>
            <div class="form-group">
              <label for="confirmPassword">
                Confirm Password *  </label>  <br>
                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" >
                <span id='message'></span>
              <!-- <div class="alert text" style="color:white" *ngIf="!confirmPasswordForm.controls['confirmPassword'].valid && confirmPasswordForm.controls['confirmPassword'].touched">*This is required</div> -->
            </div>
                       

            <button type="submit" class="btn btn-primary float-right" [disabled]="!confirmPasswordForm.valid" >&nbsp;&nbsp;Done !&nbsp;&nbsp;</button>
            <br><br>
           
            <button type="button" class="btn btn-secondary" [routerLink]="['/login']">Login instead</button>
          </form><br><br>
      </div>


    </div>
  </div>

</div>
