.my-bg {
    background-image: url(./../../../assets/bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }
    .box {
      box-shadow: -2px 7px 45px 13px rgba(37,173,134,1);
      margin-top: 50px;
      border-radius: 5px;
      background: transparent;
    }
    
    #section1 {
      height: 50px;
      padding-top: 5px;
      text-align: center;
      font-size: 25px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bold ;
    
      word-spacing: 5px;
    }
    
    #section2 {
    
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    
    label {
      font-size: 16px;
      color: black; 
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 300;
    
    }
    
    