
<!--  this component is used for forgot-password button at login page 
      thi generate email only and redirect user to reset-password component

-->

<div class="my-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-6 col-10 mx-auto box text-truncate">
        <section id="section1">Welcome to ToDo App</section>

          <section id="section2" class="col-md-12 col-sm-12 text-truncate">Get your reset Token </section>
          <br><hr>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"> 
       
            <div class="form-group">
              <label for="email">
                Email *  </label>  <br>
                <input type="text" class="form-control" formControlName="email" id="email" >
            
              <div class="alert text" style="color:white" *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">*This is required</div>
            </div>
                       

            <button type="submit" class="btn btn-primary float-right" [disabled]="!resetPasswordForm.valid" >Send me link</button>
            <br><br>
           
            <button type="button" class="btn btn-secondary" [routerLink]="['/login']">Login instead</button>
          </form><br><br>
      </div>


    </div>
  </div>

</div>
