
  <div class="container-fluid my-bg">
    <div class="row">
      <div class="col-md-5 col-sm-6 offset-sm-3 col-6 offset-3  box text-truncate">
        <section>Never miss your important work !!</section>
        <section>Are you ready to join ?</section>
        <hr>
        <div class="row">
          <div class="col-md-10 offset-md-1 col-sm-6 offset-sm-3" style=" overflow: hidden;">
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                      <label for="firstName">
                          First Name * <br>
                          <input type="text" formControlName="firstName" id="firstName" >
                        </label> 
                        <div class="alert text" style="color:white" *ngIf="!signupForm.controls['firstName'].valid && signupForm.controls['firstName'].touched">*This is required</div>
                  </div>
                  <div class="col-md-6">
                      <label for="lastName">
                          Last Name * <br>
                          <input type="text" formControlName="lastName" id="lastName">
                        </label>   
                        <div class="alert text " style="color:white" *ngIf="!signupForm.controls['lastName'].valid && signupForm.controls['lastName'].touched">*This is required</div>
                  </div>
                </div> 
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label for="email">
                      Email * <br>
                      <input type="email" id="email" formControlName="email">
                    </label>
                    <div class="alert text " style="color:white" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">*This is required</div>
                  </div>
                  <div class="col-md-6">
                      <label for="password">
                        Password * <br>
                        <input type="password" id="password" formControlName="password">
                      </label>
                      <div class="alert text" style="color:white" *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">*This is required</div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6">
                      <label for="country">
                        Country * <br>
                        <select name="country" id="country" formControlName="country">
                          <option>Select</option>
                          <option *ngFor="let country of countries">{{country.name}}</option>
                        </select>
                      </label>
                      <div class="alert text" style="color:white" *ngIf="!signupForm.controls['country'].valid && signupForm.controls['country'].touched">*This is required</div>
                    </div>
                    <div class="col-md-6">
                        <label for="mobile">
                          Mobile * <br>
                          <input type="number" id="mobile" formControlName="mobile">
                        </label>
                        <div class="alert text " style="color:white" *ngIf="!signupForm.controls['mobile'].valid && signupForm.controls['mobile'].touched">*This is required</div>
                      </div>
                  </div><br>
                  <div style="text-align:center !important">
                      <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">&nbsp;&nbsp;Signup&nbsp;&nbsp;  </button>
                  </div>   
                  <br><br>
                  <button type="button" class="btn btn-info float-right" [routerLink]="['/login']">Login</button>  <br><br>    
               </form>
                
          </div>
        </div><br><br><br>
      </div>
    




  </div>
</div>
